{% trans_default_domain 'messages' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}home.agency.name{% endtrans %}{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1>{% trans %}home.agency.name{% endtrans %}</h1>
    <p>{% trans %}home.text{% endtrans %}</p>
</div>

<div id="container">
    <h2>{% trans %}home.last.property{% endtrans %}</h2>
    <div class="row flex">
        {% for property in properties %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    {% if property.filename %}
                    <img src="{{ vich_uploader_asset(property,'imageFile') | imagine_filter('my_thumb') }}" alt="{% trans %}property.index.image.alt{% endtrans %}" class="card-img-top" style="width: 100%; height:auto;">
                    {% else %}
                    <img src="{{ '/images/properties/empty.jpg' | imagine_filter('my_thumb') }}" alt="{% trans %}property.index.image.altNoPhoto{% endtrans %}" class="card-img-top" style="width: 100%; height:auto;">
                    {% endif %}
                    <h5 class="card-title"><a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{
                            property.title }}</a></h5>
                    <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                    <div class="text-primary" style="font-weight:bold; font-size:2rem;">{{ property.formattedPrice }} €</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}