<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Demande de contact pour le bien {{ contact.property.title }}</h1>
    <table align="center">
        <tr>
            <td><b>Nom du bien:</b></td>
            <td><a href="{{ url('property.show', { id: contact.property.id, slug: contact.property.slug }) }}">{{ contact.property.title }}</a></td>
        </tr>
        <tr>
            <td><b>Prénom</b></td>
            <td>{{ contact.firstname }}</td>
        </tr>
        <tr>
            <td><b>Nom</b></td>
            <td>{{ contact.lastname }}</td>
        </tr>
        <tr>
            <td><b>Téléphone</b></td>
            <td>{{ contact.phone }}</td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td>{{ contact.email }}</td>
        </tr>
        <tr>
            <td><b>Message</b></td>
            <td>{{ contact.message | nl2br }}</td>
        </tr>
    </table>
</body>
</html>