{% trans_default_domain 'messages' %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans %}home.agency.name{% endtrans %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
   <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ path('home') }}">{% trans %}navbar.agency.name{% endtrans %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}"
                        href="{{ path('property.index') }}">{% trans %}navbar.buy{% endtrans %}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
            {% if is_granted("ROLE_ADMIN") %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if current_menu is defined and current_menu == 'administration' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans %}navbar.admin.link{% endtrans %}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('admin.property.index') }}">{% trans %}navbar.admin.properties{% endtrans %}</a>
                        <a class="dropdown-item" href="{{ path('admin.option.index') }}">{% trans %}navbar.admin.options{% endtrans %}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{{ path('logout') }}" class="nav-link">{% trans %}navbar.disconnect{% endtrans %}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('login') }}" class="nav-link">{% trans %}navbar.connect{% endtrans %}</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>